wsdls/AssetCheck.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (c) 2011, Doremi Labs, Inc.
    All rights reserved.

  Redistribution in source or binary forms, with or without
  modification, are NOT permitted.

    Doremi Labs, Inc.
    1020 Chestnut St.
    Burbank, CA 91506
    Tel : (818) 562 1101
    Fax : (818) 562 1109

-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.doremilabs.com/dc/dcp/ws/v1" xmlns:com="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common"  xmlns:chk="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/assetcheck" xmlns:v1_0="http://www.doremilabs.com/dc/dcp/ws/v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AssetCheck_v1" targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1">
    <wsdl:documentation>
                Asset Check provides functions to verify asset (link Sanity or Integrity).
    </wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1_0">
			<xsd:import schemaLocation="AssetCheck.xsd" namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/assetcheck"/>
			<xsd:import schemaLocation="Common.xsd" namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common"/>
			<xsd:element name="GetAssetCheckList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="com:SessionIdentifier"/>
						<xsd:element name="assetId" type="com:Uuid" minOccurs="0"/>
						<xsd:element name="assetCheckId" type="chk:AssetCheckId" minOccurs="0"/>
						<xsd:element name="assetCheckType" type="chk:AssetCheckType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAssetCheckListResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="assetCheckList" type="chk:ArrayOfAssetCheckItem" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RunAssetCheck">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="com:SessionIdentifier"/>
						<xsd:element name="assetId" type="com:Uuid"/>
						<xsd:element name="assetCheckTitle" type="xsd:string"/>
						<xsd:element name="assetCheckType" type="chk:AssetCheckType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RunAssetCheckResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="assetCheckId" type="chk:AssetCheckId"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelAssetCheck">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="com:SessionIdentifier"/>
						<xsd:element name="assetCheckId" type="chk:AssetCheckId"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelAssetCheckResponse">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RestartAssetCheck">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="com:SessionIdentifier"/>
						<xsd:element name="assetCheckId" type="chk:AssetCheckId"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RestartAssetCheckResponse">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetAssetCheckList">
		<wsdl:part name="parameters" element="v1_0:GetAssetCheckList"/>
	</wsdl:message>
	<wsdl:message name="GetAssetCheckListResponse">
		<wsdl:part name="parameters" element="v1_0:GetAssetCheckListResponse"/>
	</wsdl:message>
	<wsdl:message name="RunAssetCheck">
		<wsdl:part name="parameters" element="v1_0:RunAssetCheck"/>
	</wsdl:message>
	<wsdl:message name="RunAssetCheckResponse">
		<wsdl:part name="parameters" element="v1_0:RunAssetCheckResponse"/>
	</wsdl:message>
	<wsdl:message name="CancelAssetCheck">
		<wsdl:part name="parameters" element="v1_0:CancelAssetCheck"/>
	</wsdl:message>
	<wsdl:message name="CancelAssetCheckResponse">
		<wsdl:part name="parameters" element="v1_0:CancelAssetCheckResponse"/>
	</wsdl:message>
	<wsdl:message name="RestartAssetCheck">
		<wsdl:part name="parameters" element="v1_0:RestartAssetCheck"/>
	</wsdl:message>
	<wsdl:message name="RestartAssetCheckResponse">
		<wsdl:part name="parameters" element="v1_0:RestartAssetCheckResponse"/>
	</wsdl:message>
	<wsdl:portType name="AssetCheck_v1_0">
		<wsdl:operation name="GetAssetCheckList">
			<wsdl:documentation>
                 GetAssetCheckList
                    Return the list of Asset Check.

                 Arguments
                    sessionId (com:SessionIdentifier)  returned by SessionManagement/Login
                    [assetId] (com:Uuid) if present, this field is used as a filter for asset uuid
                    [assetCheckId] (chk:AssetCheckId) if present, this field is used as a filter for asset check id
                    [assetCheckType] (chk:AssetCheckType) if present, this field is used as a filter for asset check type

                 Response
                    [assetCheckList] (chk:ArrayOfAssetCheckItem) List of check

                 Faults
                    "Internal server error" : If the security manager is unavailable

             </wsdl:documentation>
			<wsdl:input message="tns:GetAssetCheckList"/>
			<wsdl:output message="tns:GetAssetCheckListResponse"/>
		</wsdl:operation>
		<wsdl:operation name="RunAssetCheck">
			<wsdl:documentation>
                 RunAssetCheck
                    Run an assetCheckType check on an assedId Asset.

                 Arguments
                    sessionId (com:SessionIdentifier)  returned by SessionManagement/Login
                    assetId (com:Uuid) asset UUID this check shall be run for
                    assetCheckTitle (string) A title for this check
                    assetCheckType (chk:AssetCheckType) The kind of check to run. Check AssetCheckType for available check.

                 Response
                    assetCheckId (chk:AssetCheckId) Handler to the created check

                 Faults
                    "Internal server error" : If the security manager is unavailable

             </wsdl:documentation>
			<wsdl:input message="tns:RunAssetCheck"/>
			<wsdl:output message="tns:RunAssetCheckResponse"/>
		</wsdl:operation>
		<wsdl:operation name="CancelAssetCheck">
			<wsdl:documentation>
                 CancelAssetCheck
                    Cancel an Asset Check task

                 Arguments
                    sessionId (com:SessionIdentifier)  returned by SessionManagement/Login
                    assetCheckId (chk:AssetCheckId) Handler to the created check

                 Response
                    return nothing on success.

                 Faults
                    "Internal server error" : If the security manager is unavailable

             </wsdl:documentation>
			<wsdl:input message="tns:CancelAssetCheck"/>
			<wsdl:output message="tns:CancelAssetCheckResponse"/>
		</wsdl:operation>
		<wsdl:operation name="RestartAssetCheck">
			<wsdl:documentation>
                 RestartAssetCheck
                    Restart an Asset Check task

                 Arguments
                    sessionId (com:SessionIdentifier)  returned by SessionManagement/Login
                    assetCheckId (chk:AssetCheckId) Handler to the created check

                 Response
                    return nothing on success.

                 Faults
                    "Internal server error" : If the security manager is unavailable

             </wsdl:documentation>
			<wsdl:input message="tns:RestartAssetCheck"/>
			<wsdl:output message="tns:RestartAssetCheckResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AssetCheck_v1_0_SOAPBinding" type="tns:AssetCheck_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetAssetCheckList">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RunAssetCheck">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelAssetCheck">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RestartAssetCheck">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AssetCheck_v1_0">
		<wsdl:port name="SOAPOverHTTP" binding="tns:AssetCheck_v1_0_SOAPBinding">
			<soap:address location="http://127.0.0.1:10000/dc/dcp/ws/v1/AssetCheck"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
