wsdls/CleanupManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (c) 2011, Doremi Labs, Inc.
    All rights reserved.

  Redistribution in source or binary forms, with or without
  modification, are NOT permitted.

    Doremi Labs, Inc.
    1020 Chestnut St.
    Burbank, CA 91506
    Tel : (818) 562 1101
    Fax : (818) 562 1109

-->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.doremilabs.com/dc/dcp/ws/v1" xmlns:v1_0="http://www.doremilabs.com/dc/dcp/ws/v1_0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:com="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common" xmlns:cm="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/cleanupmanager" name="CleanupManager_v1" targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1">
    <wsdl:documentation>
                Cleanup Manager provides functions to clean up unused asset.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1_0">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <xsd:import schemaLocation="Common.xsd" namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common"/>
            <xsd:import schemaLocation="CleanupManager.xsd" namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/cleanupmanager"/>
            <xsd:element name="RunCleanupManager">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="com:SessionIdentifier"/>
                        <!-- do not delete files, just simulate the operation and get the amount of bytes that would be freed !-->
                        <xsd:element name="simulate" type="xsd:boolean" minOccurs="0"/>
                        <!-- optional repository to cleanup !-->
                        <xsd:element name="repository" type="cm:RepositoryName" minOccurs="0"/>
                        <!-- List of cleanup operations to perform !-->
                        <xsd:element name="cleanupList" type="cm:ArrayOfCleanup" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RunCleanupManagerResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="freedBytes" type="xsd:unsignedLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RunCleanupManager">
        <wsdl:part name="parameters" element="v1_0:RunCleanupManager"/>
    </wsdl:message>
    <wsdl:message name="RunCleanupManagerResponse">
        <wsdl:part name="parameters" element="v1_0:RunCleanupManagerResponse"/>
    </wsdl:message>
    <wsdl:portType name="CleanupManager_v1_0">
        <wsdl:operation name="RunCleanupManager">
            <wsdl:documentation>
                RunCleanupManager
                    This call is used to clean storage repository, so that it is consistent.

                Arguments
                    sessionId (string) returned by SessionManagement/Login
                    simulate - enables simulation mode, when items to be deleted are identified but not removed
                    repository - which repository to be cleaned, for example data
                    cleanupList - which elements should be cleaned, for example incomplete assets are removed when OrphanAssets is selected

                Response
                    Number of bytes that clean up process is able to remove from a reposiotry

                Faults
                    "Session not found" : If the session id is invalid.
                    "Internal server error" : when serious problem is detected
            </wsdl:documentation>
            <wsdl:input message="tns:RunCleanupManager"/>
            <wsdl:output message="tns:RunCleanupManagerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CleanupManager_v1_0_SOAPBinding" type="tns:CleanupManager_v1_0">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RunCleanupManager">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CleanupManager_v1_0">
        <wsdl:port name="SOAPOverHTTP" binding="tns:CleanupManager_v1_0_SOAPBinding">
            <soap:address location="http://127.0.0.1:10000/dc/dcp/ws/v1/CleanupManager"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
