wsdls/DeviceManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

  Copyright (c) 2018, Doremi Labs, Inc.
    All rights reserved.

  Redistribution in source or binary forms, with or without
  modification, are NOT permitted.

    Doremi Labs, Inc.
    1020 Chestnut St.
    Burbank, CA 91506
    Tel : (818) 562 1101
    Fax : (818) 562 1109

-->

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.doremilabs.com/dc/dcp/ws/v1"
    xmlns:v1_0="http://www.doremilabs.com/dc/dcp/ws/v1_0"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:com="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common"
    xmlns:dmgt="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/devicemanagement"
    name="DeviceManagement_v1" targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1">
    <wsdl:documentation>
        Device Management provides functions to interact with external devices connected the unit.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1_0">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
            <xsd:import schemaLocation="Common.xsd"
                namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common" />
            <xsd:import schemaLocation="DeviceManagement.xsd"
                namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/devicemanagement" />
            <xsd:element name="SendDeviceCommand">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="com:SessionIdentifier" />
                        <xsd:element name="deviceType" type="dmgt:DeviceType" />
                        <xsd:choice>
                            <xsd:element name="deviceId" type="xsd:string" />
                            <xsd:element name="ipAddress" type="xsd:string" />
                        </xsd:choice>
                        <xsd:element name="action" type="dmgt:DeviceActionType" />
                        <xsd:element name="parameters" type="dmgt:DeviceActionParameters"
                            minOccurs="0" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SendDeviceCommandResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="results" type="dmgt:DeviceActionResults" minOccurs="0" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SendDeviceCommand">
        <wsdl:part element="v1_0:SendDeviceCommand" name="parameters" />
    </wsdl:message>
    <wsdl:message name="SendDeviceCommandResponse">
        <wsdl:part element="v1_0:SendDeviceCommandResponse" name="parameters" />
    </wsdl:message>
    <wsdl:portType name="DeviceManagement_v1_0">
        <wsdl:operation name="SendDeviceCommand">
            <wsdl:documentation>
                SendDeviceCommand
                    Send a command to a device

                Arguments
                    sessionId (com:SessionIdentifier) returned by SessionManagement/Login
                    deviceType (dmgt:DeviceTypes) Device kind
                    deviceId (string) Target Device identifier
                    ipAddress (string) Target IP Address
                    action (dmgt:ActionType) Action to send to the device
                    parameters (dmgt:DeviceActionParameters) Action parameters

                Response


                Faults
                    "Internal server error" : If the server detects an error
                    "Resource busy" : If the device is unavailable.
            </wsdl:documentation>
            <wsdl:input message="tns:SendDeviceCommand" />
            <wsdl:output message="tns:SendDeviceCommandResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DeviceManagement_v1_0_SOAPBinding" type="tns:DeviceManagement_v1_0">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="SendDeviceCommand">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DeviceManagement_v1_0">
        <wsdl:port binding="tns:DeviceManagement_v1_0_SOAPBinding" name="SOAPOverHTTP">
            <soap:address location="http://127.0.0.1:10000/dc/dcp/ws/v1/DeviceManagement" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
