wsdls/Maintenance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (c) 2011, Doremi Labs, Inc.
    All rights reserved.

  Redistribution in source or binary forms, with or without
  modification, are NOT permitted.

    Doremi Labs, Inc.
    1020 Chestnut St.
    Burbank, CA 91506
    Tel : (818) 562 1101
    Fax : (818) 562 1109

-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.doremilabs.com/dc/dcp/ws/v1" xmlns:man="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/maintenance" xmlns:com="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common" xmlns:v1_0="http://www.doremilabs.com/dc/dcp/ws/v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Maintenance_v1" targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1">
    <wsdl:documentation>
                Maintenance provides functions to list or add maintenance operation.
    </wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1_0">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
			<xsd:import schemaLocation="Common.xsd" namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common"/>
			<xsd:import schemaLocation="Maintenance.xsd" namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/maintenance"/>
			<xsd:element name="GetMaintenanceTaskList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="com:SessionIdentifier"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetMaintenanceTaskListResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskList" type="man:ArrayOfMaintenanceTask"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetMaintenanceOperationList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="com:SessionIdentifier"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetMaintenanceOperationListResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="operationList" type="man:ArrayOfMaintenanceOperation"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddMaintenanceOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="com:SessionIdentifier"/>
						<xsd:element name="authId" type="xsd:string"/>
						<xsd:element name="taskId" type="man:MaintenanceTaskId"/>
						<xsd:element name="annotationText" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddMaintenanceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetMaintenanceTaskList">
		<wsdl:part name="parameters" element="v1_0:GetMaintenanceTaskList"/>
	</wsdl:message>
	<wsdl:message name="GetMaintenanceTaskListResponse">
		<wsdl:part name="parameters" element="v1_0:GetMaintenanceTaskListResponse"/>
	</wsdl:message>
	<wsdl:message name="GetMaintenanceOperationList">
		<wsdl:part name="parameters" element="v1_0:GetMaintenanceOperationList"/>
	</wsdl:message>
	<wsdl:message name="GetMaintenanceOperationListResponse">
		<wsdl:part name="parameters" element="v1_0:GetMaintenanceOperationListResponse"/>
	</wsdl:message>
	<wsdl:message name="AddMaintenanceOperation">
		<wsdl:part name="parameters" element="v1_0:AddMaintenanceOperation"/>
	</wsdl:message>
	<wsdl:message name="AddMaintenanceOperationResponse">
		<wsdl:part name="parameters" element="v1_0:AddMaintenanceOperationResponse"/>
	</wsdl:message>
	<wsdl:portType name="Maintenance_v1_0">
		<wsdl:operation name="GetMaintenanceTaskList">
			<wsdl:documentation>
                 GetMaintenanceTaskList

                 Arguments

                 Response

                 Faults

            </wsdl:documentation>
			<wsdl:input message="tns:GetMaintenanceTaskList"/>
			<wsdl:output message="tns:GetMaintenanceTaskListResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetMaintenanceOperationList">
			<wsdl:documentation>
                 GetMaintenanceOperationList

                 Arguments

                 Response

                 Faults

            </wsdl:documentation>
			<wsdl:input message="tns:GetMaintenanceOperationList"/>
			<wsdl:output message="tns:GetMaintenanceOperationListResponse"/>
		</wsdl:operation>
		<wsdl:operation name="AddMaintenanceOperation">
			<wsdl:documentation>
                 AddMaintenanceOperation

                 Arguments

                 Response

                 Faults

            </wsdl:documentation>
			<wsdl:input message="tns:AddMaintenanceOperation"/>
			<wsdl:output message="tns:AddMaintenanceOperationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Maintenance_v1_0_SOAPBinding" type="tns:Maintenance_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetMaintenanceTaskList">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMaintenanceOperationList">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddMaintenanceOperation">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Maintenance_v1_0">
		<wsdl:port name="SOAPOverHTTP" binding="tns:Maintenance_v1_0_SOAPBinding">
			<soap:address location="http://127.0.0.1:10000/dc/dcp/ws/v1/Maintenance"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
