wsdls/SecurityManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (c) 2011, Doremi Labs, Inc.
    All rights reserved.

  Redistribution in source or binary forms, with or without
  modification, are NOT permitted.

    Doremi Labs, Inc.
    1020 Chestnut St.
    Burbank, CA 91506
    Tel : (818) 562 1101
    Fax : (818) 562 1109

-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.doremilabs.com/dc/dcp/ws/v1" xmlns:sm="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/securitymanager" xmlns:com="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common" xmlns:v1_0="http://www.doremilabs.com/dc/dcp/ws/v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecurityManager_v1" targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1">
    <wsdl:documentation>
		OBSOLETE: Security Manager provides functions to handle security module.
    </wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1_0">
			<xsd:import schemaLocation="Common.xsd" namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common"/>
			<xsd:element name="LoginManager">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="com:SessionIdentifier"/>
						<xsd:element name="username" type="xsd:string"/>
						<xsd:element name="password" type="xsd:string"/>
						<xsd:element name="level" type="xsd:string"/>
						<xsd:element name="ipAddress" type="xsd:string" minOccurs="0"/>
						<xsd:element name="port" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LoginManagerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="snmpType" type="xsd:string"/>
						<xsd:element name="snmpValue" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="LoginManager">
		<wsdl:part name="parameters" element="v1_0:LoginManager"/>
	</wsdl:message>
	<wsdl:message name="LoginManagerResponse">
		<wsdl:part name="parameters" element="v1_0:LoginManagerResponse"/>
	</wsdl:message>
	<wsdl:portType name="SecurityManager_v1_0">
		<wsdl:operation name="LoginManager">
			<wsdl:documentation>
                 LoginManager
				 	Obsolete: this method is no longer available

                 Arguments


                 Response

                 Faults

             </wsdl:documentation>
			<wsdl:input message="tns:LoginManager"/>
			<wsdl:output message="tns:LoginManagerResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SecurityManager_v1_0_SOAPBinding" type="tns:SecurityManager_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="LoginManager">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SecurityManager_v1_0">
		<wsdl:port name="SOAPOverHTTP" binding="tns:SecurityManager_v1_0_SOAPBinding">
			<soap:address location="http://127.0.0.1:10000/dc/dcp/ws/v1/SecurityManager"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
