wsdls/ServiceManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (c) 2011, Doremi Labs, Inc.
    All rights reserved.

  Redistribution in source or binary forms, with or without
  modification, are NOT permitted.

    Doremi Labs, Inc.
    1020 Chestnut St.
    Burbank, CA 91506
    Tel : (818) 562 1101
    Fax : (818) 562 1109

-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.doremilabs.com/dc/dcp/ws/v1"
    xmlns:svc="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/servicemanagement"
    xmlns:com="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common"
    xmlns:v1_0="http://www.doremilabs.com/dc/dcp/ws/v1_0"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="ServiceManagement_v1" targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1">
    <wsdl:documentation>
        Service Management provides functions to Start and Stop some services.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1_0">
            <xsd:import schemaLocation="Common.xsd"
                namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common" />
            <xsd:import schemaLocation="ServiceManagement.xsd"
                namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/servicemanagement" />
            <xsd:element name="StartService">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="com:SessionIdentifier" />
                        <xsd:element name="service" type="svc:ServiceIdentifier" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="StartServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="StopService">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="com:SessionIdentifier" />
                        <xsd:element name="service" type="svc:ServiceIdentifier" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="StopServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RestartService">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="com:SessionIdentifier" />
                        <xsd:element name="service" type="svc:ServiceIdentifier" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RestartServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="StartService">
        <wsdl:part name="parameters" element="v1_0:StartService" />
    </wsdl:message>
    <wsdl:message name="StartServiceResponse">
        <wsdl:part name="parameters" element="v1_0:StartServiceResponse" />
    </wsdl:message>
    <wsdl:message name="StopService">
        <wsdl:part name="parameters" element="v1_0:StopService" />
    </wsdl:message>
    <wsdl:message name="StopServiceResponse">
        <wsdl:part name="parameters" element="v1_0:StopServiceResponse" />
    </wsdl:message>
    <wsdl:message name="RestartService">
        <wsdl:part name="parameters" element="v1_0:RestartService" />
    </wsdl:message>
    <wsdl:message name="RestartServiceResponse">
        <wsdl:part name="parameters" element="v1_0:RestartServiceResponse" />
    </wsdl:message>
    <wsdl:portType name="ServiceManagement_v1_0">
        <wsdl:operation name="StartService">
            <wsdl:documentation>
                StartService
                    Start a system service

                Arguments
                    sessionId (string) returned by SessionManagement/Login
                    service (svc:ServiceIdentifier) Token name identifier to be started

                Response
                    return nothing on success.

                Faults
                    "Internal server error" : If a system error occurred
                    "Invalid argument" : If the provided service token is incorrect
                    "Invalid operation" : If the Start operation is not available for chosen service
                    "Not authenticated" : If inactive/bad sessionID passed
                    "Permission denied" : If user not privileged to perform operation
            </wsdl:documentation>
            <wsdl:input message="tns:StartService" />
            <wsdl:output message="tns:StartServiceResponse" />
        </wsdl:operation>
        <wsdl:operation name="StopService">
            <wsdl:documentation>
                StopService
                    Stop a system service

                Arguments
                    sessionId (string) returned by SessionManagement/Login
                    service (svc:ServiceIdentifier) Token name identifier to be stopped

                Response
                    return nothing on success.

                Faults
                    "Internal server error" : If a system error occurred
                    "Invalid argument" : If the provided service token is incorrect
                    "Invalid operation" : If the Stop operation is not available for chosen service
                    "Not authenticated" : If inactive/bad sessionID passed
                    "Permission denied" : If user not privileged to perform operation
            </wsdl:documentation>
            <wsdl:input message="tns:StopService" />
            <wsdl:output message="tns:StopServiceResponse" />
        </wsdl:operation>
        <wsdl:operation name="RestartService">
            <wsdl:documentation>
                RestartService
                    Restart a system service

                Arguments
                    sessionId (string) returned by SessionManagement/Login
                    service (svc:ServiceIdentifier) Token name identifier to be restarted

                Response
                    return nothing on success.

                Faults
                    "Internal server error" : If a system error occurred
                    "Invalid argument" : If the provided service token is incorrect
                    "Invalid operation" : If the Restart operation is not available for chosen service
                    "Not authenticated" : If inactive/bad sessionID passed
                    "Permission denied" : If user not privileged to perform operation
            </wsdl:documentation>
            <wsdl:input message="tns:RestartService" />
            <wsdl:output message="tns:RestartServiceResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServiceManagement_v1_0_SOAPBinding" type="tns:ServiceManagement_v1_0">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="StartService">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="StopService">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RestartService">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServiceManagement_v1_0">
        <wsdl:port name="SOAPOverHTTP" binding="tns:ServiceManagement_v1_0_SOAPBinding">
            <soap:address location="http://127.0.0.1:10000/dc/dcp/ws/v1/ServiceManagement" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>