wsdls/Toolbox.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (c) 2011, Doremi Labs, Inc.
    All rights reserved.

  Redistribution in source or binary forms, with or without
  modification, are NOT permitted.

    Doremi Labs, Inc.
    1020 Chestnut St.
    Burbank, CA 91506
    Tel : (818) 562 1101
    Fax : (818) 562 1109

-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.doremilabs.com/dc/dcp/ws/v1" xmlns:tbx="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/toolbox" xmlns:com="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common" xmlns:v1_0="http://www.doremilabs.com/dc/dcp/ws/v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Toolbox_v1" targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1">
    <wsdl:documentation>
                ToolBox provides tool functions.
    </wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.doremilabs.com/dc/dcp/ws/v1_0">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
			<xsd:import schemaLocation="Common.xsd" namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/common"/>
			<xsd:import schemaLocation="Toolbox.xsd" namespace="http://www.doremilabs.com/dc/dcp/ws/v1/schemas/toolbox"/>
			<xsd:element name="EncryptConfigPassword">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="com:SessionIdentifier"/>
						<xsd:element name="plaintext" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EncryptConfigPasswordResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="encrypted" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TestURIAccess">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sessionId" type="com:SessionIdentifier"/>
						<xsd:element name="uri" type="xsd:anyURI"/>
						<xsd:element name="write" type="xsd:boolean"/>
						<xsd:element name="username" type="xsd:string" minOccurs="0"/>
						<xsd:element name="password" type="xsd:string" minOccurs="0"/>
						<xsd:element name="passwordEncoding" type="tbx:PasswordEncodingType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TestURIAccessResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="errorCode" type="xsd:int"/>
						<xsd:element name="description" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="EncryptConfigPassword">
		<wsdl:part name="parameters" element="v1_0:EncryptConfigPassword"/>
	</wsdl:message>
	<wsdl:message name="EncryptConfigPasswordResponse">
		<wsdl:part name="parameters" element="v1_0:EncryptConfigPasswordResponse"/>
	</wsdl:message>
	<wsdl:message name="TestURIAccess">
		<wsdl:part name="parameters" element="v1_0:TestURIAccess"/>
	</wsdl:message>
	<wsdl:message name="TestURIAccessResponse">
		<wsdl:part name="parameters" element="v1_0:TestURIAccessResponse"/>
	</wsdl:message>
	<wsdl:portType name="Toolbox_v1_0">
		<wsdl:operation name="EncryptConfigPassword">
			<wsdl:documentation>
                 EncryptConfigPassword

                 Arguments

                 Response

                 Faults

            </wsdl:documentation>
			<wsdl:input message="tns:EncryptConfigPassword"/>
			<wsdl:output message="tns:EncryptConfigPasswordResponse"/>
		</wsdl:operation>
		<wsdl:operation name="TestURIAccess">
			<wsdl:documentation>
                 TestURIAccess

                 Arguments

                 Response

                 Faults

            </wsdl:documentation>
			<wsdl:input message="tns:TestURIAccess"/>
			<wsdl:output message="tns:TestURIAccessResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Toolbox_v1_0_SOAPBinding" type="tns:Toolbox_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="EncryptConfigPassword">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TestURIAccess">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Toolbox_v1_0">
		<wsdl:port name="SOAPOverHTTP" binding="tns:Toolbox_v1_0_SOAPBinding">
			<soap:address location="http://127.0.0.1:10000/dc/dcp/ws/v1/Toolbox"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
